*, *:before, *:after {
    box-sizing: inherit;
  }

  .tea{

    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 630px;    
  }

  h2
  {
    text-align: center;
    color: #462100;
  }
  p
  {
    text-align: center;
    font-size: 12px;
    color: #1e130c;
  }
  .row{
     margin-top: 100px;
    }
    .column {
    float: left;
    width: 5.3%;
    margin-left: 276px;
    margin-bottom: 6px;
    
    padding: 0 1px;
    display: flex;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 80%;
      display: block;
    }
  }
  
  .card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .im
  {
    width: 50px;
  }
  .container {
    padding: 15 16px;
    
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(51, 23, 50);
    font-size: 16px;
    font-weight: bold;
  }
  
  .button {
    margin-top: 20px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
  }
  
  .button:hover {
    background-color: #543015;
  }